* {
    text-align: center;
}

.header {
    
    margin: 10px;
}
.wrapper {
    width: 445px;
}
.image {
    padding: 20px;
    width: 90%;
}

.items {
    
    padding: 20px;
}

.container {
    border: 2px solid black;
    margin-top: 20px;
}

.info, button {
    padding: 20px;
}

button {
    background-color: lightblue;
    margin-left: 10px;
    margin-right: 10px;
}